

/* Center the body and give it a border that looks good*/
body {
    margin: 0 auto;
    border: 4px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    width: 800px;
    text-align: center;
}

/* Make the anchors look like buttons */
a {
    /* text-decoration: none; */
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}