
body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 0;
    padding: 0;
}

nav {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 0.5em;
    background-color: #eeeeee;
    border: 2px solid #e5e5e5;

    margin: 0 auto;
    border-radius: 1em;

    width: 70%;
    margin-top: 1em;
}

.nav-button {
    font-size: x-large;

    text-decoration: none;
    color: #000;
    padding: 0.5em;

    border-radius: 0.25em;
}

.nav-button:hover {
    background-color: #e5e5e5;
    transition: 0.3s;
}

.nav-button:active {
    background-color: #ccc;
}

li {
    display: inline-block;
    margin-right: 1em;
}

#ayman {
    font-size: large;
}


* {
    cursor: url('cursors/xp_arrow.cur'), auto;
}

a:hover, img:hover {
    cursor: url('cursors/xp_link.cur'), auto;
}

p:hover, li:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    cursor: url('cursors/xp_beam.cur'), auto;
}


